body {
  background: linear-gradient(120deg, #667eea, #764ba2);
  font-family: Arial;
  text-align: center;
}

.card {
  width: 300px;
  margin: 120px auto;
  padding: 20px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;
}

input, button {
  width: 90%;
  margin: 8px;
  padding: 8px;
}
